:root{
    --primary-color:#595dae;
    --sec-color:#000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
    display: flex;
    justify-content: end;
}
.search-area {
    position: fixed;
    left: 0;
    width: 40%;
    background-color: var(--primary-color);
    height: 100vh;
}
.result-area{
    width: 60%;
}
